.preloader{display:flex;align-items:center;justify-content:center;padding:120px 0}
.preloader svg{display:block;margin:0 auto}
.preloader p{color:#666;margin-top:12px;font-family:'Roboto';font-size:16px}
